@-webkit-keyframes slide-down {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes slide-down {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(0);
	}
}

@-webkit-keyframes displayModal {
	0% {
		transform: translate(-50%, -50%) scale(0.8);
		opacity: 0;
	}
	100% {
		opacity: 1;
		transform: translate(-50%, -50%) scale(1);
	}
}

@keyframes displayModal {
	0% {
		transform: translate(-50%, -50%) scale(0.8);
		opacity: 0;
	}
	100% {
		opacity: 1;
		transform: translate(-50%, -50%) scale(1);
	}
}

@-webkit-keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 100;
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 100;
	}
}

@-webkit-keyframes slide-top {
	0% {
		transform: scale(1.05) translateY(100px);
		opacity: 0;
	}
	100% {
		transform: scale(1) translateY(0);
		opacity: 1;
	}
}

@keyframes slide-top {
	0% {
		transform: scale(1.05) translateY(100px);
		opacity: 0;
	}
	100% {
		transform: scale(1) translateY(0);
		opacity: 1;
	}
}
