.color {
	&-light {
		color: var(--c-light-500);
	}
	&-light-800 {
		color: var(--c-light-800);
	}
	&-light-900 {
		color: var(--c-light-900);
	}
	&-green-400 {
		color: var(--c-green-400);
	}
	&-red-500 {
		color: var(--c-red-500);
	}
	&-yellow-900 {
		color: var(--c-yellow-900);
	}
	&-red-700 {
		color: var(--c-red-700);
	}
}
.d {
	&-block {
		display: block;
	}
	&-inline-block {
		display: inline-block;
	}
}
.flex {
	display: flex;
	&-ai-c {
		align-items: center;
	}
	&-jc-c {
		justify-content: center;
	}
	&-jc-sb {
		justify-content: space-between;
	}
}
.float {
	&-right {
		float: right;
	}
}
.font {
	&-heading {
		font-family: var(--heading-font);
	}
}
.bg-color {
	&-light-500 {
		background-color: var(--c-light-500);
	}
	&-light-600 {
		background-color: var(--c-light-600);
	}
	&-light-900 {
		background-color: var(--c-light-900);
	}
	&-yellow-500 {
		background-color: var(--c-yellow-500);
	}
	&-green-100 {
		background-color: var(--c-green-100);
	}
	&-green-500 {
		background-color: var(--c-green-500);
	}
	&-red-100 {
		background-color: var(--c-red-100);
	}
}
.h-100 {
	height: 100%;
}
.m {
	&-0 {
		margin: 0;
	}
	&l-auto {
		margin-left: auto;
	}
	&r-12 {
		margin-right: pxToRem(12);
	}
	&r-24 {
		margin-right: pxToRem(24);
	}
	&r-32 {
		margin-right: pxToRem(32);
	}
	&r-44 {
		margin-right: pxToRem(44);
	}
	&b-4 {
		margin-bottom: pxToRem(4);
	}
	&b-16 {
		margin-bottom: pxToRem(16);
	}
	&b-32 {
		margin-bottom: pxToRem(32);
	}
	&b-60 {
		margin-bottom: pxToRem(60);
	}
}
.pos {
	&-rel {
		position: relative;
	}
}
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap; /* added line */
	border: 0;
}
.text {
	&-center {
		text-align: center;
	}
}
.no-list-style {
	list-style-type: none;
}
