.color {
	&-light {
		color: var(--c-light-500);
	}
	&-light-800 {
		color: var(--c-light-800);
	}
	&-light-900 {
		color: var(--c-light-900);
	}
	&-green-400 {
		color: var(--c-green-400);
	}
	&-red-500 {
		color: var(--c-red-500);
	}
	&-yellow-900 {
		color: var(--c-yellow-900);
	}
	&-red-700 {
		color: var(--c-red-700);
	}
}
.d {
	&-block {
		display: block;
	}
	&-inline-block {
		display: inline-block;
	}
	@include respond(768) {
		&-md {
			&-none {
				display: none;
			}
		}
	}
	@include respond(992) {
		&-lg {
			&-none {
				display: none;
			}
		}
	}
}
.flex {
	display: flex;
	&-column {
		flex-direction: column;
	}
	&-ai-c {
		align-items: center;
	}
	&-jc-c {
		justify-content: center;
	}
	&-jc-sb {
		justify-content: space-between;
	}
	@include respond(768) {
		&-md {
			display: flex;
		}
	}
}
.float {
	&-right {
		float: right;
	}
}
.font {
	&-heading {
		font-family: var(--heading-font);
	}
}
.fluid-img {
	height: auto;
	max-width: 100%;
	width: 100%;
}
.bg-color {
	&-light-500 {
		background-color: var(--c-light-500);
	}
	&-light-600 {
		background-color: var(--c-light-600);
	}
	&-light-700 {
		background-color: var(--c-light-700);
	}
	&-light-900 {
		background-color: var(--c-light-900);
	}
	&-yellow-500 {
		background-color: var(--c-yellow-500);
	}
	&-green-100 {
		background-color: var(--c-green-100);
	}
	&-green-500 {
		background-color: var(--c-green-500);
	}
	&-red-100 {
		background-color: var(--c-red-100);
	}
}
.h-100 {
	height: 100%;
}
.m {
	&-0 {
		margin: 0;
	}
	&y {
		&-40 {
			margin-top: 4rem;
			margin-bottom: 4rem;
		}
	}
	&x {
		&-auto {
			margin-left: auto;
			margin-right: auto;
		}
	}
	&l-auto {
		margin-left: auto;
	}
	&r {
		&-12 {
			margin-right: pxToRem(12);
		}
		&-16 {
			margin-right: pxToRem(16);
		}
		&-24 {
			margin-right: pxToRem(24);
		}
		&-32 {
			margin-right: pxToRem(32);
		}
		&-44 {
			margin-right: pxToRem(44);
		}
	}
	@include respond(992) {
		&r-lg {
			&-16 {
				margin-right: pxToRem(16);
			}
		}
	}
	&b {
		&-4 {
			margin-bottom: pxToRem(4);
		}
		&-8 {
			margin-bottom: pxToRem(8);
		}
		&-16 {
			margin-bottom: pxToRem(16);
		}
		&-28 {
			margin-bottom: pxToRem(28);
		}
		&-32 {
			margin-bottom: pxToRem(32);
		}
		&-60 {
			margin-bottom: pxToRem(60);
		}
		&-64 {
			margin-bottom: pxToRem(64);
		}
	}
}
.p {
	&x {
		&-12 {
			padding-left: pxToRem(12);
			padding-right: pxToRem(12);
		}
		&-20 {
			padding-left: pxToRem(20);
			padding-right: pxToRem(20);
		}
	}
	&y {
		&-8 {
			padding-top: pxToRem(8);
			padding-bottom: pxToRem(8);
		}
	}
}
.rounded {
	border-radius: 0.4rem;
	&-pill {
		border-radius: 10rem;
	}
	&-circle {
		border-radius: 50%;
	}
}
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap; /* added line */
	border: 0;
}
.text {
	&-center {
		text-align: center;
	}
	&-justify {
		text-align: justify;
	}
	@include respond(768) {
		&-md {
			&-left {
				text-align: left;
			}
		}
	}
}
// .no-list-style {
// 	list-style-type: none;
// }
