:root {
	--c-green-50: #e6f5ed;
	--c-green-100: #b0e0c8;
	--c-green-200: #8ad1ad;
	--c-green-300: #54bc88;
	--c-green-400: #33af71;
	--c-green-500: #009b4d;
	--c-green-600: #008d46;
	--c-green-700: #006e37;
	--c-green-800: #00552a;
	--c-green-900: #004120;
	--c-yellow-50: #fffae6;
	--c-yellow-100: #ffefb0;
	--c-yellow-200: #ffe88a;
	--c-yellow-300: #ffdd54;
	--c-yellow-400: #ffd633;
	--c-yellow-500: #ffcc00;
	--c-yellow-600: #e8ba00;
	--c-yellow-700: #b59100;
	--c-yellow-800: #8c7000;
	--c-yellow-900: #6b5600;
	--c-red-50: #ffecec;
	--c-red-100: #ffc4c4;
	--c-red-200: #ffa7a7;
	--c-red-300: #ff7f7f;
	--c-red-400: #ff6666;
	--c-red-500: #ff4040;
	--c-red-600: #e83a3a;
	--c-red-700: #b52d2d;
	--c-red-800: #8c2323;
	--c-red-900: #6b1b1b;
	--c-blue-50: #e9f2ff;
	--c-blue-100: #bad7ff;
	--c-blue-200: #98c3ff;
	--c-blue-300: #6aa8ff;
	--c-blue-400: #4d97ff;
	--c-blue-500: #207dff;
	--c-blue-600: #1d72e8;
	--c-blue-700: #1759b5;
	--c-blue-800: #12458c;
	--c-blue-900: #0d356b;
	--c-light-50: #fffefd;
	--c-light-100: #fdfcf8;
	--c-light-200: #fdfaf5;
	--c-light-300: #fcf8f0;
	--c-light-400: #fbf7ed;
	--c-light-500: #faf5e9;
	--c-light-600: #e4dfd4;
	--c-light-700: #b2aea5;
	--c-light-800: #8a8780;
	--c-light-900: #696762;
	--c-dark-50: #eaebeb;
	--c-dark-100: #bcc1c2;
	--c-dark-200: #9ca3a4;
	--c-dark-300: #6f797a;
	--c-dark-400: #535f61;
	--c-dark-500: #283739;
	--c-dark-600: #243234;
	--c-dark-700: #1c2728;
	--c-dark-800: #161e1f;
	--c-dark-900: #111718;
	--text-size: 1.8rem;
	--text-base-size: 41.67%; //12px
	--text-scale: 1.2;
	--text-sm: calc(var(--text-size) / var(--text-scale));
	--text-md: calc(var(--text-size) * var(--text-scale));
	--text-lg: calc(var(--text-md) * var(--text-scale));
	--text-xl: calc(var(--text-lg) * var(--text-scale));
	--text-xxl: calc(var(--text-xl) * var(--text-scale));
	--text-xxxl: calc(var(--text-xxl) * var(--text-scale));
	--text-xxxxl: calc(var(--text-xxxl) * var(--text-scale));
	--heading-font: 'Teko', sans-serif;
	--body-font: 'Ubuntu', sans-serif;
	--font-weight-r: 400;
	--font-weight-m: 600;
	--font-weight-b: 700;
	--line-height-r: 1.6;
	--line-height-s: 1.2;
	--z-index-low: 50;
	--z-index-mid: 100;
	--z-index-high: 200;
	--z-index-highest: 400;
	--glow-size: 0.6rem;
	--tr-time-fx2: 160ms;
	--tr-time: 320ms;
	--tr-time-sx1: 400ms;
	--elevation-1: rgba(0, 0, 0, 0.1) 0 0.4rem 0.6rem -0.1rem,
		rgba(0, 0, 0, 0.06) 0 0.2rem 0.4rem -0.1rem;
	--elevation-2: rgba(0, 0, 0, 0.1) 0 1rem 1.5rem -0.3rem,
		rgba(0, 0, 0, 0.05) 0 0.4rem 0.6rem -0.2rem;
	--elevation-3: rgba(0, 0, 0, 0.1) 0 2rem 2.5rem -0.5rem,
		rgba(0, 0, 0, 0.04) 0 1rem 1rem -0.5rem;
}

@include respond(375) {
	:root {
		--text-base-size: 55.5556%; //16px
	}
}
@include respond(992) {
	:root {
		--text-scale: 1.25;
	}
}
@include respond(1400) {
	:root {
		--text-base-size: 62.5%; //18px
	}
}
