.btn {
	outline: none;
	border: none;
	cursor: pointer;
	transition: background-color var(--tr-time);
	&:hover {
		background-color: var(--hoverColor);
	}
	&:focus,
	&:active {
		box-shadow: 0 0 0 var(--glow-size) var(--glowColor);
	}
	&--default {
		display: inline-block;
		padding: pxToRem(12) pxToRem(24);
	}
	&--green {
		--hoverColor: var(--c-green-700);
		--glowColor: var(--c-green-100);
		color: var(--c-light-500);
		background-color: var(--c-green-500);
	}
	&--dark {
		--hoverColor: var(--c-dark-700);
		--glowColor: var(--c-dark-100);
		color: var(--c-light-500);
		background-color: var(--c-dark-500);
	}
	&--blue {
		--hoverColor: var(--c-blue-700);
		--glowColor: var(--c-blue-100);
		color: var(--c-light-500);
		background-color: var(--c-blue-500);
	}
}
.icon {
	--iconSize: var(--text-size);
	display: inline-block;
	width: var(--iconSize);
	height: var(--iconSize);
	margin-bottom: pxToRem(-4);
	&--md {
		--iconSize: 2rem;
	}
	&--display-3 {
		--iconSize: 8rem;
	}
}
.theme-switch {
	position: relative;
	width: pxToRem(70);
	height: pxToRem(34);
	user-select: none;
	/* Hide the browser's default checkbox */
	& input {
		display: none;
	}
	&__icons {
		position: absolute;
		left: 0;
		top: 0;
		background-color: var(--c-red-500);
		padding: pxToRem(2) pxToRem(8);
		border-radius: pxToRem(100);
		transition: background-color var(--tr-time);
	}
	/* Creates the switch ball */
	&__ball {
		width: pxToRem(24);
		height: pxToRem(24);
		background-color: var(--c-light-500);
		border-radius: 50%;
		transform: translate(pxToRem(40), pxToRem(4));
		transition: transform var(--tr-time) ease-in;
	}
	/* When the checkbox is checked, add a dark background and move ball to the left */
	& input:checked ~ &__ball {
		transform: translate(pxToRem(4), pxToRem(4));
	}
	& input:checked ~ &__icons {
		background-color: var(--c-dark-500);
	}
}
.project-card {
	position: relative;
	padding-bottom: pxToRem(120.1);
	box-shadow: rgba(0, 0, 0, 0.16) 0 pxToRem(1) pxToRem(4);
	overflow: hidden;
	transition: padding var(--tr-time) ease-out;
	&:hover {
		padding-bottom: pxToRem(204.6);
	}
	&__thumbnail {
		position: relative;
		padding-top: 66%;
		background-color: var(--c-dark-500);
		overflow: hidden;
		transition: padding var(--tr-time) ease-out;
		& img {
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: transform var(--tr-time) ease-out,
				opacity var(--tr-time);
		}
	}
	&:hover &__thumbnail {
		padding-top: calc(66% - pxToRem(84.15));
		& img {
			transform: scale(1.2);
			opacity: 0.6;
		}
	}
	&__body {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: pxToRem(32) pxToRem(28);
		background-color: var(--c-light-500);
		transform: translateY(pxToRem(84.15));
		transition: transform var(--tr-time) ease-out;
	}
	&:hover &__body {
		transform: translateY(pxToRem(0));
	}
	&__btn {
		opacity: 0;
		transform: translateY(pxToRem(32));
		transition: opacity var(--tr-time-sx1) 240ms, transform 560ms ease-out; //560
	}
	&:hover &__btn {
		opacity: 1;
		transform: translateY(0);
	}
}
