.btn {
	border-radius: 0.4rem;
	display: inline-block;
	outline: none;
	border: none;
	padding: pxToRem(12) pxToRem(24);
	cursor: pointer;
	transition: background-color var(--tr-time) ease,
		box-shadow var(--tr-time) ease;
	&:hover:not(:disabled) {
		background-color: var(--hoverBgColor);
	}
	&:focus-visible:not(:disabled) {
		box-shadow: 0 0 0 var(--glow-size) var(--focusColor);
	}
	&:focus:not(:focus-visible) {
		box-shadow: unset;
	}
	&:active {
		background-color: var(--activeBgColor);
	}
	&:disabled {
		cursor: not-allowed;
		opacity: 0.7;
	}
	&--block {
		display: block;
		width: 100%;
	}
	&--blue {
		--hoverBgColor: var(--c-blue-700);
		--activeBgColor: var(--c-blue-400);
		--focusColor: var(--c-blue-200);
		background-color: var(--c-blue-600);
		color: var(--c-light-500);
	}
	&--dark {
		--hoverBgColor: var(--c-dark-900);
		--activeBgColor: var(--c-dark-400);
		--focusColor: var(--c-dark-200);
		background-color: var(--c-dark-600);
		color: var(--c-light-500);
	}
	&--green {
		--hoverBgColor: var(--c-green-700);
		--activeBgColor: var(--c-green-300);
		--focusColor: var(--c-green-200);
		background-color: var(--c-green-500);
		color: var(--c-light-500);
	}
	&--red {
		--hoverBgColor: var(--c-red-700);
		--activeBgColor: var(--c-red-400);
		--focusColor: var(--c-red-200);
		background-color: var(--c-red-500);
		color: var(--c-light-500);
	}
}
.icon {
	--iconSize: 1em;
	display: inline-block;
	width: var(--iconSize);
	height: var(--iconSize);
	svg {
		display: block;
		width: 100%;
		height: 100%;
	}
	&--responsive {
		--iconSize: 100%;
	}
	&--inline {
		position: relative;
		top: 0.125em;
	}
	&--md {
		--iconSize: 2rem;
	}
	&--xl {
		--iconSize: 2.8rem;
	}
	&--2xl {
		--iconSize: 3.2rem;
	}
	&--3xl {
		--iconSize: 3.6rem;
	}
}
.fab {
	--hoverBgColor: var(--c-yellow-600);
	--activeBgColor: var(--c-yellow-700);
	bottom: pxToRem(24);
	height: pxToRem(72);
	padding: 0;
	position: fixed;
	right: pxToRem(24);
	width: pxToRem(72);
	transition: opacity var(--tr-time) ease-out,
		visibility var(--tr-time) ease-out,
		transform var(--tr-time) cubic-bezier(0.18, 0.89, 0.32, 1.27);
	z-index: var(--z-index-mid);
	&.hidden {
		opacity: 0;
		transform: scale(0.5);
		visibility: hidden;
	}
}
.form {
	&__group {
		padding: 1.6rem 0;
		position: relative;
		&:last-of-type {
			margin-bottom: pxToRem(32);
		}
	}
	&__control {
		display: block;
		width: 100%;
		padding: pxToRem(8) pxToRem(20);
		background-color: transparent;
		color: inherit;
		border: pxToRem(2) solid var(--c-light-700);
		border-radius: 0.4rem;
		outline: none;
		transition: border var(--tr-time) ease, box-shadow var(--tr-time) ease;
		&:focus {
			border: pxToRem(2) solid var(--c-blue-700);
			box-shadow: 0 0 0 var(--glow-size) var(--c-blue-100);
		}
		&:disabled {
			border: pxToRem(2) solid var(--c-light-700);
			opacity: 0.5;
			background-color: var(--c-light-600);
		}
		&--textarea {
			min-height: pxToRem(150);
			resize: none;
			& + .form__label {
				transform: translate(pxToRem(20), pxToRem(-177.04));
			}
			&:placeholder-shown + .form__label {
				transform: translate(pxToRem(20), pxToRem(-140)) !important;
			}
		}
		&.invalid {
			border: pxToRem(2) solid var(--c-red-700);
			padding-right: pxToRem(68);
			background: url('/src/assets/invalid-iconsvg.svg') no-repeat;
			background-position: right pxToRem(20) center;
			background-size: pxToRem(28);
			&:focus {
				border: pxToRem(2) solid var(--c-red-700);
				box-shadow: 0 0 0 var(--glow-size) var(--c-red-100);
			}
			& + .form__label {
				color: var(--c-red-700);
			}
		}
	}
	&__label {
		position: absolute;
		font-size: var(--text-sm);
		color: var(--c-light-900);
		transform: translate(pxToRem(20), pxToRem(-75.04));
		transition: transform var(--tr-time-fx2) ease-out,
			opacity var(--tr-time-fx2), visibility var(--tr-time-fx2);
	}
	&__control:placeholder-shown + &__label {
		font-size: inherit;
		opacity: 0;
		visibility: hidden;
		transform: translate(pxToRem(20), pxToRem(-38.4));
	}
	&__feedback {
		font-size: var(--text-sm);
		margin-left: pxToRem(24);
		margin-top: pxToRem(4);
	}
}
.modal {
	-webkit-animation: displayModal var(--tr-time)
		cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
	animation: displayModal var(--tr-time) cubic-bezier(0.68, -0.55, 0.27, 1.55)
		forwards;
	box-shadow: var(--elevation-2);
	left: 50%;
	max-height: 80vh;
	overflow-y: auto;
	position: fixed;
	padding: pxToRem(52) pxToRem(28);
	top: 50%;
	transform: translate(-50%, -50%);
	width: 85%;
	z-index: 1000;
	&__close {
		--hoverBgColor: var(--c-light-600);
		--activeBgColor: var(--c-light-700);
		--focusColor: var(--c-light-700);
		background-color: transparent;
		border-radius: 50%;
		color: var(--c-dark-400);
		height: 4rem;
		padding: 0.4rem;
		position: absolute;
		right: 1.2rem;
		top: 1.2rem;
		width: 4rem;
	}
	@include respond(556) {
		width: 70%;
		max-width: 60rem;
	}
}
.overlay {
	-webkit-animation: fade-in var(--tr-time-fx2) ease forwards;
	animation: fade-in var(--tr-time-fx2) ease forwards;
	background-color: rgba($color: black, $alpha: 0.7);
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	width: 100%;
	z-index: var(--z-index-high);
	@supports (
		((-webkit-backdrop-filter: blur(0.8rem)) or (backdrop-filter: blur(0.8rem)))
	) {
		-webkit-backdrop-filter: blur(0.8rem);
		backdrop-filter: blur(0.8rem);
	}
}
.navbar {
	height: pxToRem(72);
	width: 100%;
	&__nav {
		background-color: rgba($color: #e4dfd4, $alpha: 0.95);
		box-shadow: var(--elevation-1);
		position: absolute;
		min-width: pxToRem(280);
		opacity: 0;
		padding: pxToRem(8);
		right: 0;
		transform: scale(0.8);
		transform-origin: 100% 0%;
		transition: transform var(--tr-time) ease, opacity var(--tr-time),
			visibility var(--tr-time);
		top: pxToRem(92);
		visibility: hidden;
		&.visible {
			opacity: 1;
			transform: scale(1);
			visibility: visible;
		}
	}
	&__item {
		display: block;
	}
	&__link {
		color: inherit;
		display: block;
		outline: none;
		padding: pxToRem(12);
		transition: background-color var(--tr-time) ease, color var(--tr-time) ease,
			box-shadow var(--tr-time) ease;
		&.active,
		&:hover,
		&:focus-visible {
			background-color: var(--c-yellow-500);
			color: var(--c-yellow-900);
		}
		&:active {
			background-color: var(--c-yellow-700);
		}
	}
	&__toggler {
		--hoverColor: var(--c-light-600);
		--activeBgColor: var(--c-light-700);
		--glowColor: var(--c-light-600);
		background-color: transparent;
		border-radius: 0.4rem;
		display: block;
		width: pxToRem(60);
		height: pxToRem(60);
		margin-left: auto;
		padding: 0;
		position: relative;
	}
	&__icon {
		background-color: var(--c-dark-500);
		display: block;
		height: 0.8rem;
		left: calc(50% - 37.5%);
		top: calc(50% - 0.4rem);
		position: absolute;
		width: 75%;
		&::before,
		&::after {
			content: '';
			background-color: inherit;
			display: block;
			height: 100%;
			transition: transform var(--tr-time);
			width: 100%;
		}
		&::before {
			transform: translateY(pxToRem(-12));
		}
		&::after {
			transform: translateY(pxToRem(4));
		}
	}
	@include respond(992) {
		&__logo {
			margin-right: pxToRem(72);
		}
		&__nav {
			background-color: initial;
			box-shadow: unset;
			min-width: initial;
			opacity: unset;
			padding: 0;
			position: initial;
			transform: unset;
			visibility: unset;
			width: 100%;
		}
		&__item {
			display: inline-block;
			&:not(:last-child) {
				margin-right: pxToRem(12);
			}
		}
	}
}
.project-card {
	overflow: hidden;
	position: relative;
	transition: box-shadow var(--tr-time) ease;
	&__thumbnail {
		position: relative;
		padding-top: 66%; // 3/2
		overflow: hidden;
		transition: padding var(--tr-time) ease-out;
		img {
			position: absolute;
			top: 0;
			width: 100%;
			height: auto;
			transition: transform var(--tr-time) ease-out, opacity var(--tr-time) ease;
		}
	}
	&__body {
		width: 100%;
		padding: pxToRem(32) pxToRem(28);
	}
	&__btn {
		transition: background-color var(--tr-time) ease,
			box-shadow var(--tr-time) ease, opacity var(--tr-time) 200ms ease;
	}
	@include respond(768) {
		&__thumbnail {
			padding-top: 66%; // 3/2
		}
	}
	@media (hover: hover) {
		padding-bottom: pxToRem(120.1);
		&:hover &__thumbnail {
			img {
				transform: scale(1.1) translateY(-6rem);
				opacity: 0.6;
			}
		}
		&__body {
			position: absolute;
			bottom: 0;
			left: 0;
			transform: translateY(pxToRem(84.15));
			transition: transform var(--tr-time) ease-out;
		}
		&:hover &__body {
			transform: translateY(pxToRem(0));
		}
		&__btn {
			opacity: 0;
		}
		&:hover &__btn {
			opacity: 1;
		}
	}
}
.submit-status {
	&__icon-box {
		height: 12rem;
		padding: pxToRem(20);
		width: 12rem;
	}
	&__icon {
		--iconSize: 8rem;
	}
}
.social-list {
	display: inline-block;
	&__link {
		height: 3.6rem;
		width: 3.6rem;
	}
	&--sm &__link {
		height: 2.4rem;
		width: 2.4rem;
	}
}
// .theme-switch {
// 	cursor: pointer;
// 	display: block;
// 	flex-shrink: 0;
// 	height: pxToRem(40);
// 	position: relative;
// 	-webkit-user-select: none;
// 	-moz-user-select: none;
// 	-ms-user-select: none;
// 	user-select: none;
// 	width: pxToRem(68);
// 	/* Hide the browser's default checkbox */
// 	& input {
// 		display: none;
// 	}
// 	&__icons {
// 		position: absolute;
// 		left: 0;
// 		top: 0;
// 		background-color: var(--c-red-500);
// 		padding: pxToRem(8) pxToRem(12);
// 		border-radius: pxToRem(100);
// 		transition: background-color var(--tr-time);
// 		width: 100%;
// 		height: 100%;
// 	}
// 	/* Creates the switch ball */
// 	&__ball {
// 		width: pxToRem(24);
// 		height: pxToRem(24);
// 		background-color: var(--c-light-500);
// 		border-radius: 50%;
// 		margin-top: 0.8rem;
// 		transform: translate(pxToRem(36));
// 		transition: transform var(--tr-time) ease-in;
// 	}
// 	/* When the checkbox is checked, add a dark background and move ball to the left */
// 	& input:checked ~ &__ball {
// 		transform: translate(pxToRem(8));
// 	}
// 	& input:checked ~ &__icons {
// 		background-color: var(--c-dark-500);
// 	}
// }
