.container {
	max-width: pxToRem(1168);
	margin: 0 auto;
	padding: pxToRem(24);
}
.row {
	--rowGap: 1.6rem;
	display: flex;
	flex-flow: row wrap;
	margin: calc(var(--rowGap) * -1);
}
[class*='col-'] {
	--colSize: 12;
	padding: var(--rowGap);
	width: calc((100% / 12) * var(--colSize));
}
.footer {
	border-top: 0.2rem solid var(--c-light-600);
}
.hero {
	padding: pxToRem(104) 0 pxToRem(120);
}
.projects {
	position: relative;
	padding: pxToRem(96) 0 pxToRem(96) 0;
}
.contact {
	padding: pxToRem(72) 0;
}
.header {
	border-bottom: 0.2rem solid var(--c-light-600);
	position: absolute;
	transition: box-shadow var(--tr-time) ease;
	width: 100%;
	z-index: 500;
	&.sticky {
		-webkit-animation: slide-down var(--tr-time)
			cubic-bezier(0.19, 1, 0.22, 1) forwards;
		animation: slide-down var(--tr-time) cubic-bezier(0.19, 1, 0.22, 1)
			forwards;
		border-bottom: unset;
		box-shadow: var(--elevation-1);
		position: fixed;
		top: 0;
		width: 100%;
	}
}
@supports (
	(-webkit-backdrop-filter: blur(0.8rem)) or (backdrop-filter: blur(0.8rem))
) {
	.header.sticky {
		background-color: rgba($color: #faf5e9, $alpha: 0.8);
		-webkit-backdrop-filter: blur(0.8rem);
		backdrop-filter: blur(0.8rem);
	}
}
@include respond(480, both, 1200) {
	.contact {
		padding: pxToRem(72) calc(0.4rem + 4vw);
	}
	.hero {
		padding: pxToRem(104) calc(0.4rem + 4vw) pxToRem(120) calc(0.4rem + 4vw);
	}
	.projects {
		padding: pxToRem(96) calc(0.4rem + 4vw) pxToRem(96) calc(0.4rem + 4vw);
	}
}
@include respond(768) {
	.col-md {
		&-4 {
			--colSize: 4;
		}
		&-6 {
			--colSize: 6;
		}
		&-8 {
			--colSize: 8;
		}
	}
}
@include respond(992) {
	.col-lg {
		&-5 {
			--colSize: 5;
		}
		&-6 {
			--colSize: 6;
		}
		&-7 {
			--colSize: 7;
		}
	}
}
